<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Update Password')"></nav>
<div class="container-fluid">
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Update Password</div>
            <div class="card-body">
                <form th:action="@{/user/change-password}" method="POST">
                    <div class="row form-group">
                        <label class="col-sm-4">Old Password:</label>
                        <input type="password" class="col-sm-8 form-control input-sm" name="oldPassword">
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4">New Password:</label>
                        <input type="password" class="col-sm-8 form-control input-sm" name="newPassword">
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4">Confirm New Password:</label>
                        <input type="password" class="col-sm-8 form-control input-sm" name="confirmNewPassword">
                    </div>
                    <h6 th:text="${warning}"></h6>
                    <div class="row form-group">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>